html{
    background : url("images/fond.png");
    background-attachment: fixed; /* Le fond restera fixe */

}

#entete, #menu, #contenu, #footer {
padding:1px 0;
}

div {
	text-align:center;
	}

div#entete {
	font-family: "Lucida Sans Unicode";
    height:100px;
    background: url(images/banniere45.jpg);
    background-attachment: fixed; /* Le fond restera fixe */
    background-repeat: no-repeat; /* Le fond ne sera pas répété */
    /*background-position: top left; */ /* Le fond sera placé en haut à gauche */
	}

div #main {
	max-width: 960px;
	margin:auto;
}	
div#menu {
	font-family: "Lucida Sans Unicode";
    float:left;
	width:240px; 
}
div#contenu {
	font-family: "Lucida Sans Unicode";
    margin-left: 245px;
    text-align: center;

}
div#contenuFlex {
    font-family: "Lucida Sans Unicode";
    margin-left: 245px;
    text-align: center;
    display: flex;
    justify-content: space-around; 
}
	


div#footer{

	clear:both;
    text-align:center;
	}

   #tableau {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 10px 0;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
#tableau th {
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: #b9c9fe url('http://4.bp.blogspot.com/_xDpoN6UfFFY/S-J2gjh1nPI/AAAAAAAACbg/7lNsVpks2oY/s1600/gradhead.png') repeat-x;
    border-top: 2px solid #d3ddff;
    border-bottom: 1px solid #fff;
    color: #039;
}
#tableau td {
    padding: 8px;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid #fff;
    background: #e8edff url('http://1.bp.blogspot.com/_xDpoN6UfFFY/S-J2f5yBC3I/AAAAAAAACbY/zWXYXsR-w5E/s1600/gradback.png') repeat-x;
}
#tableau tfoot tr td {
    background: #e8edff;
    font-size: 16px;
    color: #99c;
    text-align:center;
}
#tableau tbody tr:hover td {
    background: #d0dafd url('http://4.bp.blogspot.com/_xDpoN6UfFFY/S-J2hsztUzI/AAAAAAAACbo/ztV1CK0RUrE/s1600/gradhover.png') repeat-x;
    color: #339;
}
#tableau a:hover {
    text-decoration:underline;
}
#titre_quizz{
    font-size: 120%;
  font-weight: bold;
  font-family:"Segoe print", Arial, Helvetica, sans-serif;
  color:#6bf;
  text-align:center;
  display:inline;
  line-height:50px;
}
fieldset{
 padding:0 20px 20px 20px;
 margin-bottom:10px;
 border:1px solid #6840A4;
}
select{
     background-color:#FFF3F3;
 margin-top:10px;

}