#pied_de_page
{
    color: red;
}
*
{

    font-family: "Times New Roman";
}
h1 
{
	color : maroon;
}
/*
.imageAccueil
{
    float: left;
}
*/ 

/*
Style sheet pour englishApp
*/

/* 
exemple
{
	text-align : center;
}

exemple
{
	text-align : justify;
}
*/ 